/* Buttons */

.cta-button{
    min-width: 100px;
    height: 50px;
    background-color: #FF7909;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 20px;
    font-family: 'Bungee';
}

.cta-button:hover{
    background-color: #2D2014;
}

.add-user-right-button,
.decline-user-right-button{
   background-color: #FF831C;
   border: none;
   color: #2D2014;
}