/* globL styles */

body{
    background-color: #771b8b;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 50px;
}

input {
    color: #000;
}

.section-title {
    font-family: 'Righteous';
}