<div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3>My Followed users: </h3>
            <ul>
                <li ng-repeat="followed in userFollowed">
                    {{followed.username}} <button ng-click="unfollowUser(followed.followed_id)">Unfollow</button>
                </li>
            </ul>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3>Users to Add: </h3>
            <ul>
                <li ng-repeat="user in users">
                    {{user.username}} <button ng-click="followUser(user.id)">Add</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="row text-center">
        <h3>Add a post</h3>
        <textarea ng-model="newPost"></textarea>
        <button ng-click="submitPost(newPost)">Submit Post</button>
    </div>
</div>